%p
  Hi,
%p
  Received a enquiry from Josh site. 
  Details are:
%p 
  Name: #{@contact.name}
  %br  
  Email: #{@contact.email}
  %br
  Skype ID: #{@contact.skype_id}
  %br  
  Phone: #{@contact.phone}
  %br
  IP Address: #{@contact.ip}
  %br
  Location: #{@contact.location}
  %br  
  Message: #{@contact.message}
%p
  Thank You.
