%header.header-frontend
  .navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .row
          %a.navbar-brand.pull-left{:href => root_path}
            = image_tag 'JOSHSoftware_LogoStack_Color_org.png', alt: 'Josh Software'
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li{class: "#{check_if_active('home')}"}
            = link_to 'Home', root_path
          %li{class: "#{check_if_active('Josh in News')}"}
            = link_to 'Josh in News', news_path
            /%a{:href => "news"} Josh in News
          %li{class: "#{check_if_active('portfolio')}"}
            = link_to 'Portfolio', portfolio_path
            /%a{:href => "portfolio"} Portfolio
          %li{class: "#{check_if_active('testimonials')}"}
            = link_to 'Testimonials', testimonials_path
            /%a{:href => "testimonials"} Testimonials
          %li{class: "#{check_if_active('open_source')}"}
            = link_to 'Open Source', open_source_path
            /%a{:href => "open-source"} Open Source
          %li{class: "#{check_if_active('team')}"}
            = link_to 'Team', team_path
            /%a{:href => "team"} Team
          %li
            %a{:href => "http://blog.joshsoftware.com/", target: '_blank'} Blog
          %li{class: "#{check_if_active('contact_us')}"}
            = link_to 'Contact Us', new_contact_path
          /
            %li
              %input.form-control.search{:placeholder => " Search", :type => "text"}/

          -#%li
            %div.pull-right.we_hiring= mail_to "hr@joshsoftware.com", image_tag("hiring1.png", height: '40', width: '130'), subject: 'Application for ROR developer post.'
