extends ./layouts/parallax-layout.jade
block append vars
  -var title = "Technology Expert Solution Providers in India"

block content
  #skrollr-body
    section#bannerSlide.section-home.section-overlay.bg-props(data-anchor-target='#bannerSlide')
      .container.overlay-container
        .overlay-content.-slide1.animated
          h1.display-4 INNOVATION <br>DISRUPTION
          h3 IS THE WAY WE CHANGE <br>THE GAME
          a.btn.btn-outline-danger.text-white(href="contact-us.html") Contact us
          p to change yours
        a.scroll-down.text-white(href="#slide2", data-0="opacity: 1", data-490="opacity: 0")
          i.icon-angle-double-down
        #slide2.overlay-content.-slide2
          h1 DISRUPT YOUR INDUSTRY
          p We partner with our clients to conceptualize and create sustainable web-based solutions, enabling high performance and growth in their businesses. We deliver business consultation to simplify technological complexities for better industry practices.

    section#expertiseSlide.section-home.section-expertise.bg-props(data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#expertiseSlide')
      .container
        h1.section-heading Domain Expertise
        .text-center
          img.img-fluid.img-expertise(src=asset_url + "images/expertise.svg", alt="Domain Expertise")
        .link-box.mb-4
          a.text-white(href="industries.html")
            i.align-middle.icon-arrow-right
            | View All Domains

    section#workSlide.section-home.section-work.bg-props(data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#workSlide')
      .container
        h1.section-heading What We Do?
        svg.services-banner-svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1245 546')
          defs
            style.
              .cls-1 {
              fill: url(#pattern);
              }
            pattern#pattern(preserveaspectratio='none', width='100%', height='100%', viewbox='0 0 1891 830')
              image(width='1891', height='830', xlink:href='./images/services-banner-image.png')
          g#Group_942(data-name='Group 942', transform='translate(-93 -274)')
            rect#services-gear.cls-1(width='1245', height='546', transform='translate(93 274)')
            g#gear6.gear
              circle#Ellipse_68.bg-circle(data-name='Ellipse 68', cx='85', cy='85', r='85', transform='translate(1100 582)')
              text#Rescue_Missions.title(data-name='Rescue \
              Missions', transform='translate(1189.969 664.217)')
                tspan(x='-42.522', y='0') Rescue 
                tspan(x='-49.056', y='29') Missions
              text#Your_latest_trip.description(data-name='Your latest trip', transform='translate(1113.241 619.97)')
                tspan(x='5.66', y='14') Re-engineer existing 
                tspan(x='39.708', y='34') inefficient 
                tspan(x='12.933', y='54') architectures with 
                tspan(x='7.865', y='74') zero down-time and 
                tspan(x='26.758', y='94') complete data 
            g#gear5.gear
              circle#Ellipse_66.bg-circle(data-name='Ellipse 66', cx='85', cy='85', r='85', transform='translate(950 375)')
              text#IP_Multiplier.title(data-name='IP\
              Multiplier', transform='translate(1037.484 453.726)')
                tspan(x='-11.556', y='0') IP
                tspan(x='-56.328', y='29') Multiplier
              text#Your_latest_trip-2.description(data-name='Your latest trip', transform='translate(960.757 416.479)')
                tspan(x='25.753', y='14') Build brand and 
                tspan(x='21.161', y='34') business value to 
                tspan(x='11.725', y='54') develop proprietary 
                tspan(x='9.198', y='74') intellectual property 
                tspan(x='55.496', y='94') assets.
            g#gear4.gear
              circle#Ellipse_67.bg-circle(data-name='Ellipse 67', cx='85', cy='85', r='85', transform='translate(724 495)')
              text#Scalable_Architecture.title(data-name='Scalable \
              Architecture', transform='translate(813.116 571.437)')
                tspan(x='-49.104', y='0') Scalable 
                tspan(x='-71.952', y='29') Architecture
              text#Your_latest_trip-3.description(data-name='Your latest trip', transform='translate(736.389 537.189)')
                tspan(x='8.255', y='14') Enable our solutions 
                tspan(x='9.424', y='34') to sustain, grow and 
                tspan(x='6.68', y='54') consistently perform 
                tspan(x='7.562', y='74') at large scale of data 
                tspan(x='24.516', y='94') and consumers.
            g#gear3.gear
              circle#Ellipse_65.bg-circle(data-name='Ellipse 65', cx='85', cy='85', r='85', transform='translate(522 338)')
              text#Agile_Processes.title(data-name='Agile\
              Processes', transform='translate(610.419 416.157)')
                tspan(x='-28.8', y='0') Agile
                tspan(x='-55.812', y='29') Processes
              text#Your_latest_trip-4.description(data-name='Your latest trip', transform='translate(534.692 378.91)')
                tspan(x='32.159', y='14') Follow AGILE 
                tspan(x='11.922', y='34') processes for rapid, 
                tspan(x='1.555', y='54') high quality and timely 
                tspan(x='23.528', y='74') delivery with no 
                tspan(x='44.626', y='94') surprises.
            g#gear2.gear
              circle#Ellipse_64.bg-circle(data-name='Ellipse 64', cx='85', cy='85', r='85', transform='translate(397 561)')
              text#Accelerate_Time_to_Market.title(data-name='Accelerate \
              Time to Market ', transform='translate(484.913 640.601)')
                tspan(x='-58.036', y='0') Accelerate 
                tspan(x='-81.598', y='27') Time to Market 
              text#Your_latest_trip-5.description(data-name='Your latest trip', transform='translate(411.187 602.354)')
                tspan(x='0.446', y='14') Ensure swift ‘Concept 
                tspan(x='8.062', y='34') to Code’ delivery to 
                tspan(x='13.494', y='54') ensure our clients 
                tspan(x='40.206', y='74') beat their 
                tspan(x='24.078', y='94') competition to 
                tspan(x='47.584', y='114') market.
            g#gear1.gear
              circle#Ellipse_63.bg-circle(data-name='Ellipse 63', cx='85', cy='85', r='85', transform='translate(159 468)')
              text#Simplify_Domain_Complexities.title(data-name='Simplify \
              Domain \
              Complexities', transform='translate(244.319 528.32)')
                tspan(x='-44.286', y='0') Simplify 
                tspan(x='-42.438', y='27') Domain 
                tspan(x='-67.392', y='54') Complexities
              text#Your_latest_trip-6.description(data-name='Your latest trip', transform='translate(176.592 505.074)')
                tspan(x='0.759', y='14') Focus on simplifying 
                tspan(x='5.12', y='34') complexities in our 
                tspan(x='14.682', y='54') clients’ industry 
                tspan(x='5.547', y='74') through intelligent 
                tspan(x='23.355', y='94') technological 
                tspan(x='24.734', y='114') intervention.
        svg.services-banner-svg-sm(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 471.626 1021')
          g#services-gear-mobile(transform='translate(-486 -2011)')
            image#services-gear-sm(width='471', height='1021', transform='translate(486 2011)', xlink:href='./images/services-gear-sm.png')
            g#gear-sm-6
              text#Rescue_Missions_sm.title(data-name='Rescue Missions', transform='translate(572.704 2864.404)')
                tspan(x='23.041', y='18') Rescue 
                tspan(x='16.187', y='40') Missions
              text#Your_latest_trip_sm.description(data-name='Your latest trip', transform='translate(501.57 2994.188)')
                tspan(x='10.802', y='12') Re-engineer existing inefficient architectures 
                tspan(x='1.286', y='26') with zero down-time and complete data integrity
            g#gear-sm-5
              text#IP_Multiplier_sm.title(data-name='IP\
              Multiplier', transform='translate(737.332 2747.116)')
                tspan(x='44.312', y='18') IP
                tspan(x='10.733', y='40') Multiplier
              text#Your_latest_trip-2_sm.description(data-name='Your latest trip', transform='translate(801.197 2879.188)')
                tspan(x='4.982', y='12') Build brand and business 
                tspan(x='28.601', y='26') value to develop 
                tspan(x='9.371', y='40') proprietary intellectual 
                tspan(x='29.219', y='54') property assets.
            g#gear-sm-4
              text#Scalable_Architecture_sm.title(data-name='Scalable Architecture', transform='translate(642.32 2571.775)')
                tspan(x='18.104', y='18') Scalable 
                tspan(x='4.042', y='40') Architectur
              text#Your_latest_trip-3_sm.description(data-name='Your latest trip', transform='translate(490.756 2676.988)')
                tspan(x='19.959', y='12') Enable our solutions to 
                tspan(x='0.567', y='26') sustain, grow and consistently 
                tspan(x='2.814', y='40') perform at large scale of data 
                tspan(x='40.83', y='54') and consumers.
            g#gear-sm-3
              text#Agile_Processes_sm.title(data-name='Agile\
              Processes', transform='translate(765.902 2412.736)')
                tspan(x='31.379', y='18') Agile
                tspan(x='11.12', y='40') Processes
              text#Your_latest_trip-4_sm.description(data-name='Your latest trip', transform='translate(797.626 2281.378)')
                tspan(x='3.461', y='12') Follow AGILE processes for 
                tspan(x='0.257', y='26') rapid, high quality and timely 
                tspan(x='7.079', y='40') delivery with no surprises.
            g#gear-sm-2
              text#Accelerate_Time_to_Market_sm.title(data-name='Accelerate Time to Market ', transform='translate(586.502 2310.032)')
                tspan(x='7.448', y='18') Accelerate 
                tspan(x='21.164', y='40') Time to 
              text#Your_latest_trip-5_sm.description(data-name='Your latest trip', transform='translate(494.368 2438.816)')
                tspan(x='16.241', y='12') Ensure swift ‘Concept to 
                tspan(x='5.957', y='26') Code’ delivery to ensure our 
                tspan(x='2.735', y='40') clients beat their competition 
                tspan(x='56.144', y='54') to market.
            g#gear-sm-1
              text#Simplify_Domain_Complexities_sm.title(data-name='Simplify Domain Complexities', transform='translate(657.4 2108.875)')
                tspan(x='23.198', y='18') Simplify 
                tspan(x='24.71', y='40') Domain 
                tspan(x='2.341', y='62') Complexities
              text#Your_latest_trip-6_sm.description(data-name='Your latest trip', transform='translate(487.266 2022.659)')
                tspan(x='0.821', y='12') Focus on simplifying complexities in 
                tspan(x='20.471', y='26') our clients’ industry through 
                tspan(x='32.666', y='40') intelligent technological 
                tspan(x='63.524', y='54') intervention.

        .link-box.mb-4
          a.text-white(href="services.html#ourWork")
            i.align-middle.icon-arrow-right
            | View Our Work

    section#clientsSlide.section-home.section-clients.bg-props(data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px;', data-bottom-top='background-position: 50% 0px;', data-anchor-target='#clientsSlide')
      .container
        h1.section-heading Our Top Clients
        ul.list-unstyled.list-client
          li
            a(href="javascript:void(0);")
              img.img-fluid(src=asset_url + "images/clogo-star.jpg", alt="Star India")
          li
            a(href="javascript:void(0);")
              img.img-fluid(src=asset_url + "images/clogo-gojek.jpg", alt="GO JEK")
          li
            a(href="http://www.dealsignal.com/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-dealsignal.jpg", alt="DealSignal")
          li
            a(href="http://brandscope.com.au/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-brandscope.jpg", alt="Brandscope")
          li
            a(href="http://www.clubbuzz.co.uk/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-clubbuzz.jpg", alt="ClubBuzz")
          li
            a(href="https://www.cubictree.com/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-cubictree.jpg", alt="Cubictree")
          li
            a(href="https://www.willswayfoundation.us/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-we3.jpg", alt="We3")
          li
            a(href="https://thepediatricnetwork.com/#/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-tpn.jpg", alt="The Pediatric Network")
          li
            a(href="http://www.freedomfromdiabetes.org/Program",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-ffd.jpg", alt="Freedom From Diabetes")
          li
            a(href="http://www.synergydesignsolutions.com.sg/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-synergy.jpg", alt="Synergy Design Solutions")
          li
            a(href="https://next.merchdirect.com/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-mdny.jpg", alt="Merch Direct")
          li
            a(href="https://fundamentor.com/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-fundamentor.jpg", alt="Fundamentor")
          li
            a(href="http://www.skoutdeals.com/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-skoutdeals.jpg", alt="Skout Deals")
          li
            a(href="javascript:void(0);")
              img.img-fluid(src=asset_url + "images/clogo-druva.jpg", alt="Druva")
          li
            a(href="https://quickinsure.co.in/",target="_blank")
              img.img-fluid(src=asset_url + "images/clogo-quickinsure.jpg", alt="Quickinsure")

        .link-box
          a(href="testimonial.html")
            i.align-middle.icon-arrow-right
            | View Testimonials

    section#aboutSlide.section-home.section-about.bg-props(data-center='background-position: 50% 0px;', data-bottom-top='background-position: 50% -100px;', data-anchor-target='#aboutSlide')
      .container
        h1.section-heading About Us
        .about-wrap
          .stats-box
            .stats
              h4 11
              p years old, since 2007.
            .stats
              h4 96
              p Clients, and counting
            .stats
              h4 13
              p Countries our clients spread in.
            .stats.stats-button.d-none.d-lg-block
              a.btn.btn-outline-white(href="about-us.html") Company
          .about-banner
            img.img-fluid(src=asset_url + "images/about.png", alt="Josh Leadership")
          .stats-box
            .stats
              h4 108
              p years of cumulative top<br> management experience
            .stats
              h4 7
              p Startups raised funding for <br> products we built for them
            .stats
              h4 60%
              p Clients that are working with us <br>for more than 5 years
            .stats.stats-button.d-block.d-lg-none
              a.btn.btn-outline-white(href="about-us.html") Company
            .stats.stats-button
              a.btn.btn-outline-white(href="team.html") Our Team

    section#contactSlide.section-home.section-contact
      .container
        .row
          .col-lg-6.col-md-12
            .contact-wrap
              p Looking for an <br>expert technical partner?
              .d-none.d-lg-block
                a.btn.btn-gray(href="contact-us.html") Contact Us
      .contact-banner
      .contact-number
        .container
          h6 Call Us
          p
            i.align-middle.icon-phone
            | +91-9028014611



