extends ./layouts/bootstrap.jade

block append vars
  -var page = "Industries"
  -var title = page

block content
  section.section-industries.section-banner
    .container
      ul.list-unstyled.list-industries
        li
         a(href="#media")
          img.img-fluid(src=asset_url + "images/media.svg", alt="Media")
          .overlay
            span Media
        li
         a(href="#health")
          img.img-fluid(src=asset_url + "images/health.svg", alt="Health")
          .overlay
            span Healthcare
        li
         a(href="#insurance")
          img.img-fluid(src=asset_url + "images/insurance.svg", alt="Insurance")
          .overlay
            span Insurance
        li
         a(href="#manufacturing")
          img.img-fluid(src=asset_url + "images/manufacturing.svg", alt="Manufacturing")
          .overlay
            span Manufacturing
        li
         a(href="#sports")
          img.img-fluid(src=asset_url + "images/sports.svg", alt="Sports")
          .overlay
            span Sports
        li
         a(href="#finance")
          img.img-fluid(src=asset_url + "images/finance.svg", alt="Finance")
          .overlay
            span Banking & Finance
      h1.section-heading Industries
      p.para Disruption is not the future, it is the present. In an ever evolving technological landscape, it is imperative for innovation to win over the mundane, and that's exactly what we aim to achieve. Over the last decade, Josh software has successfully undertaken multiple digital transformation journeys for its clients, and built integrated solutions on the back of new age technologies to take disruption to the next level. 
      a.scroll-down.text-white(href="#industries")
        i.icon-angle-double-down
  section#industries.section-industries.section-content
    .container
      .card-wrap.-striped
        #media.card.card-expertise
          .card-body
            h2.card-title Media
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #health.card.card-expertise
          .card-body
            h2.card-title Health
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #insurance.card.card-expertise
          .card-body
            h2.card-title Insurance
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #sports.card.card-expertise
          .card-body
            h2.card-title Sports
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #manufacturing.card.card-expertise
          .card-body
            h2.card-title Manufacturing
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #finance.card.card-expertise
          .card-body
            h2.card-title Finance
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
      .btn-wrap
        a.btn.btn-gray(href="services.html") Services
        a.btn.btn-outline-gray(href="technologies.html") Technologies

block append scripts
  script.
    $(document).ready(function () {
      $("#media .content").rss("https://medium.com/feed/joshsoftware/tagged/media", 
        { 
          layoutTemplate: '<ul class="list-unstyled list-feed">{entries}</ul>',
          entryTemplate:'<li class="feed"><img src="{teaserImageUrl}" class="img-feed align-self-start mr-3" alt="Teaser"/><div class="feed-body"><h5 class="font-weight-normal mt-0 mb-1"><a href="{url}" target="_blank">{title}</a></h5><h6 class="font-weight-normal mb-3">{author}, <small class="font-weight-light">{date}</small></h6><div>{shortBody}...</div></div></li>',
          ssl: true
        });
      $("#health .content").rss("https://medium.com/feed/joshsoftware/tagged/healthcare", 
        { 
          layoutTemplate: '<ul class="list-unstyled list-feed">{entries}</ul>',
          entryTemplate:'<li class="feed"><img src="{teaserImageUrl}" class="img-feed align-self-start mr-3" alt="Teaser"/><div class="feed-body"><h5 class="font-weight-normal mt-0 mb-1"><a href="{url}" target="_blank">{title}</a></h5><h6 class="font-weight-normal mb-3">{author}, <small class="font-weight-light">{date}</small></h6><div>{shortBody}...</div></div></li>',
          ssl: true
        });
      $("#insurance .content").rss("https://medium.com/feed/joshsoftware/tagged/insurtech", 
        { 
          layoutTemplate: '<ul class="list-unstyled list-feed">{entries}</ul>',
          entryTemplate:'<li class="feed"><img src="{teaserImageUrl}" class="img-feed align-self-start mr-3" alt="Teaser"/><div class="feed-body"><h5 class="font-weight-normal mt-0 mb-1"><a href="{url}" target="_blank">{title}</a></h5><h6 class="font-weight-normal mb-3">{author}, <small class="font-weight-light">{date}</small></h6><div>{shortBody}...</div></div></li>',
          ssl: true
        });
      $("#sports .content").rss("https://medium.com/feed/joshsoftware/tagged/sports", 
        { 
          layoutTemplate: '<ul class="list-unstyled list-feed">{entries}</ul>',
          entryTemplate:'<li class="feed"><img src="{teaserImageUrl}" class="img-feed align-self-start mr-3" alt="Teaser"/><div class="feed-body"><h5 class="font-weight-normal mt-0 mb-1"><a href="{url}" target="_blank">{title}</a></h5><h6 class="font-weight-normal mb-3">{author}, <small class="font-weight-light">{date}</small></h6><div>{shortBody}...</div></div></li>',
          ssl: true
        });
      $("#manufacturing .content").rss("https://medium.com/feed/joshsoftware/tagged/manufacturing", 
        { 
          layoutTemplate: '<ul class="list-unstyled list-feed">{entries}</ul>',
          entryTemplate:'<li class="feed"><img src="{teaserImageUrl}" class="img-feed align-self-start mr-3" alt="Teaser"/><div class="feed-body"><h5 class="font-weight-normal mt-0 mb-1"><a href="{url}" target="_blank">{title}</a></h5><h6 class="font-weight-normal mb-3">{author}, <small class="font-weight-light">{date}</small></h6><div>{shortBody}...</div></div></li>',
          ssl: true
        });
      $("#finance .content").rss("https://medium.com/feed/joshsoftware/tagged/banking", 
        { 
          layoutTemplate: '<ul class="list-unstyled list-feed">{entries}</ul>',
          entryTemplate:'<li class="feed"><img src="{teaserImageUrl}" class="img-feed align-self-start mr-3" alt="Teaser"/><div class="feed-body"><h5 class="font-weight-normal mt-0 mb-1"><a href="{url}" target="_blank">{title}</a></h5><h6 class="font-weight-normal mb-3">{author}, <small class="font-weight-light">{date}</small></h6><div>{shortBody}...</div></div></li>',
          ssl: true
        });
    });
