extends ./layouts/bootstrap.jade

block append vars
  -var page = "Industries"
  -var title = page

block content
  section.section-industries.section-banner
    .container
      ul.list-unstyled.list-industries
        li
         a(href="#media")
          img.img-fluid(src=asset_url + "images/media.svg", alt="Media")
          .overlay
            span Media
        li
         a(href="#health")
          img.img-fluid(src=asset_url + "images/health.svg", alt="Health")
          .overlay
            span Healthcare
        li
         a(href="#insurance")
          img.img-fluid(src=asset_url + "images/insurance.svg", alt="Insurance")
          .overlay
            span Insurance
        li
         a(href="#manufacturing")
          img.img-fluid(src=asset_url + "images/manufacturing.svg", alt="Manufacturing")
          .overlay
            span Manufacturing
        li
         a(href="#sports")
          img.img-fluid(src=asset_url + "images/sports.svg", alt="Sports")
          .overlay
            span Sports
        li
         a(href="#finance")
          img.img-fluid(src=asset_url + "images/finance.svg", alt="Finance")
          .overlay
            span Banking & Finance
      h1.section-heading Industries
      p.para Our expertise lies in open source frameworks, scalable architecture and sustainable technology applications. It also includes new age technologies such as data science (statistical, analytical and predictive) and processes to build disruptive tech solutions
      a.scroll-down.text-white(href="#industries")
        i.icon-angle-double-down
  section#industries.section-industries.section-content
    .container
      .card-wrap.-striped
        #media.card.card-expertise
          .card-body
            h2.card-title Media
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #health.card.card-expertise
          .card-body
            h2.card-title Health
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #insurance.card.card-expertise
          .card-body
            h2.card-title Insurance
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #sports.card.card-expertise
          .card-body
            h2.card-title Sports
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #manufacturing.card.card-expertise
          .card-body
            h2.card-title Manufacturing
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
        #finance.card.card-expertise
          .card-body
            h2.card-title Finance
            .content
            .scroll-top
              a.btn-scroll(href='#bodyTop') go to top
      .btn-wrap
        a.btn.btn-gray(href="services.html") Services
        a.btn.btn-outline-gray(href="technologies.html") Technologies

block append scripts
  script.
    $(document).ready(function () {
      $("#media .content").rss("https://medium.com/feed/joshsoftware/tagged/media", 
        { entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/><img src="{teaserImageUrl}" width="300"/>{shortBody}</li>'});
      $("#health .content").rss("https://medium.com/feed/joshsoftware/tagged/healthcare", 
        { entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/><img src="{teaserImageUrl}" width="300"/>{shortBody}</li>'});
      $("#insurance .content").rss("https://medium.com/feed/joshsoftware/tagged/insurtech", 
        { entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/><img src="{teaserImageUrl}" width="300"/>{shortBody}</li>'});
      $("#sports .content").rss("https://medium.com/feed/joshsoftware/tagged/sports", 
        { entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/><img src="{teaserImageUrl}" width="300"/>{shortBody}</li>'});
      $("#manufacturing .content").rss("https://medium.com/feed/joshsoftware/tagged/manufacturing", 
        { entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/><img src="{teaserImageUrl}" width="300"/>{shortBody}</li>'});
      $("#finance .content").rss("https://medium.com/feed/joshsoftware/tagged/banking", 
        { entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/><img src="{teaserImageUrl}" width="300"/>{shortBody}</li>'});
    });
