extends ./layouts/bootstrap.jade

block append vars
  -var page = "Services"
  -var title = page

block content
  section#servicesTop.section-services.section-banner
    .container
      h1 What We Do?
      svg.services-banner-svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1245 546')
        defs
          style.
            .cls-1 {
            fill: url(#pattern);
            }
          pattern#pattern(preserveaspectratio='none', width='100%', height='100%', viewbox='0 0 1891 830')
            image(width='1891', height='830', xlink:href=asset_url + 'images/services-banner-image.png')
        g#Group_942(data-name='Group 942', transform='translate(-93 -274)')
          rect#services-gear.cls-1(width='1245', height='546', transform='translate(93 274)')
          g#gear6.gear
            circle#Ellipse_68.bg-circle(data-name='Ellipse 68', cx='85', cy='85', r='85', transform='translate(1100 582)')
            text#Rescue_Missions.title(data-name='Rescue \
            Missions', transform='translate(1189.969 664.217)')
              tspan(x='-42.522', y='0') Rescue 
              tspan(x='-49.056', y='29') Missions
            text#Your_latest_trip.description(data-name='Your latest trip', transform='translate(1113.241 619.97)')
              tspan(x='5.66', y='14') Re-engineer existing 
              tspan(x='39.708', y='34') inefficient 
              tspan(x='12.933', y='54') architectures with 
              tspan(x='7.865', y='74') zero down-time and 
              tspan(x='26.758', y='94') complete data 
          g#gear5.gear
            circle#Ellipse_66.bg-circle(data-name='Ellipse 66', cx='85', cy='85', r='85', transform='translate(950 375)')
            text#IP_Multiplier.title(data-name='IP\
            Multiplier', transform='translate(1037.484 453.726)')
              tspan(x='-11.556', y='0') IP
              tspan(x='-56.328', y='29') Multiplier
            text#Your_latest_trip-2.description(data-name='Your latest trip', transform='translate(960.757 416.479)')
              tspan(x='25.753', y='14') Build brand and 
              tspan(x='21.161', y='34') business value to 
              tspan(x='11.725', y='54') develop proprietary 
              tspan(x='9.198', y='74') intellectual property 
              tspan(x='55.496', y='94') assets.
          g#gear4.gear
            circle#Ellipse_67.bg-circle(data-name='Ellipse 67', cx='85', cy='85', r='85', transform='translate(724 495)')
            text#Scalable_Architecture.title(data-name='Scalable \
            Architecture', transform='translate(813.116 571.437)')
              tspan(x='-49.104', y='0') Scalable 
              tspan(x='-71.952', y='29') Architecture
            text#Your_latest_trip-3.description(data-name='Your latest trip', transform='translate(736.389 537.189)')
              tspan(x='8.255', y='14') Enable our solutions 
              tspan(x='9.424', y='34') to sustain, grow and 
              tspan(x='6.68', y='54') consistently perform 
              tspan(x='7.562', y='74') at large scale of data 
              tspan(x='24.516', y='94') and consumers.
          g#gear3.gear
            circle#Ellipse_65.bg-circle(data-name='Ellipse 65', cx='85', cy='85', r='85', transform='translate(522 338)')
            text#Agile_Processes.title(data-name='Agile\
            Processes', transform='translate(610.419 416.157)')
              tspan(x='-28.8', y='0') Agile
              tspan(x='-55.812', y='29') Processes
            text#Your_latest_trip-4.description(data-name='Your latest trip', transform='translate(534.692 378.91)')
              tspan(x='32.159', y='14') Follow AGILE 
              tspan(x='11.922', y='34') processes for rapid, 
              tspan(x='1.555', y='54') high quality and timely 
              tspan(x='23.528', y='74') delivery with no 
              tspan(x='44.626', y='94') surprises.
          g#gear2.gear
            circle#Ellipse_64.bg-circle(data-name='Ellipse 64', cx='85', cy='85', r='85', transform='translate(397 561)')
            text#Accelerate_Time_to_Market.title(data-name='Accelerate \
            Time to Market ', transform='translate(484.913 640.601)')
              tspan(x='-58.036', y='0') Accelerate 
              tspan(x='-81.598', y='27') Time to Market 
            text#Your_latest_trip-5.description(data-name='Your latest trip', transform='translate(411.187 602.354)')
              tspan(x='0.446', y='14') Ensure swift ‘Concept 
              tspan(x='8.062', y='34') to Code’ delivery to 
              tspan(x='13.494', y='54') ensure our clients 
              tspan(x='40.206', y='74') beat their 
              tspan(x='24.078', y='94') competition to 
              tspan(x='47.584', y='114') market.
          g#gear1.gear
            circle#Ellipse_63.bg-circle(data-name='Ellipse 63', cx='85', cy='85', r='85', transform='translate(159 468)')
            text#Simplify_Domain_Complexities.title(data-name='Simplify \
            Domain \
            Complexities', transform='translate(244.319 528.32)')
              tspan(x='-44.286', y='0') Simplify 
              tspan(x='-42.438', y='27') Domain 
              tspan(x='-67.392', y='54') Complexities
            text#Your_latest_trip-6.description(data-name='Your latest trip', transform='translate(176.592 505.074)')
              tspan(x='0.759', y='14') Focus on simplifying 
              tspan(x='5.12', y='34') complexities in our 
              tspan(x='14.682', y='54') clients’ industry 
              tspan(x='5.547', y='74') through intelligent 
              tspan(x='23.355', y='94') technological 
              tspan(x='24.734', y='114') intervention.

      svg.services-banner-svg-sm(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 471.626 1021')
        g#services-gear-mobile(transform='translate(-486 -2011)')
          image#services-gear-sm(width='471', height='1021', transform='translate(486 2011)', xlink:href=asset_url + 'images/services-gear-sm.png')
          g#gear-sm-6
            text#Rescue_Missions_sm.title(data-name='Rescue Missions', transform='translate(572.704 2864.404)')
              tspan(x='23.041', y='18') Rescue 
              tspan(x='16.187', y='40') Missions
            text#Your_latest_trip_sm.description(data-name='Your latest trip', transform='translate(501.57 2994.188)')
              tspan(x='10.802', y='12') Re-engineer existing inefficient architectures 
              tspan(x='1.286', y='26') with zero down-time and complete data integrity
          g#gear-sm-5
            text#IP_Multiplier_sm.title(data-name='IP\
            Multiplier', transform='translate(737.332 2747.116)')
              tspan(x='44.312', y='18') IP
              tspan(x='10.733', y='40') Multiplier
            text#Your_latest_trip-2_sm.description(data-name='Your latest trip', transform='translate(801.197 2879.188)')
              tspan(x='4.982', y='12') Build brand and business 
              tspan(x='28.601', y='26') value to develop 
              tspan(x='9.371', y='40') proprietary intellectual 
              tspan(x='29.219', y='54') property assets.
          g#gear-sm-4
            text#Scalable_Architecture_sm.title(data-name='Scalable Architecture', transform='translate(642.32 2571.775)')
              tspan(x='18.104', y='18') Scalable 
              tspan(x='4.042', y='40') Architectur
            text#Your_latest_trip-3_sm.description(data-name='Your latest trip', transform='translate(490.756 2676.988)')
              tspan(x='19.959', y='12') Enable our solutions to 
              tspan(x='0.567', y='26') sustain, grow and consistently 
              tspan(x='2.814', y='40') perform at large scale of data 
              tspan(x='40.83', y='54') and consumers.
          g#gear-sm-3
            text#Agile_Processes_sm.title(data-name='Agile\
            Processes', transform='translate(765.902 2412.736)')
              tspan(x='31.379', y='18') Agile
              tspan(x='11.12', y='40') Processes
            text#Your_latest_trip-4_sm.description(data-name='Your latest trip', transform='translate(797.626 2281.378)')
              tspan(x='3.461', y='12') Follow AGILE processes for 
              tspan(x='0.257', y='26') rapid, high quality and timely 
              tspan(x='7.079', y='40') delivery with no surprises.
          g#gear-sm-2
            text#Accelerate_Time_to_Market_sm.title(data-name='Accelerate Time to Market ', transform='translate(586.502 2310.032)')
              tspan(x='7.448', y='18') Accelerate 
              tspan(x='21.164', y='40') Time to 
            text#Your_latest_trip-5_sm.description(data-name='Your latest trip', transform='translate(494.368 2438.816)')
              tspan(x='16.241', y='12') Ensure swift ‘Concept to 
              tspan(x='5.957', y='26') Code’ delivery to ensure our 
              tspan(x='2.735', y='40') clients beat their competition 
              tspan(x='56.144', y='54') to market.
          g#gear-sm-1
            text#Simplify_Domain_Complexities_sm.title(data-name='Simplify Domain Complexities', transform='translate(657.4 2108.875)')
              tspan(x='23.198', y='18') Simplify 
              tspan(x='24.71', y='40') Domain 
              tspan(x='2.341', y='62') Complexities
            text#Your_latest_trip-6_sm.description(data-name='Your latest trip', transform='translate(487.266 2022.659)')
              tspan(x='0.821', y='12') Focus on simplifying complexities in 
              tspan(x='20.471', y='26') our clients’ industry through 
              tspan(x='32.666', y='40') intelligent technological 
              tspan(x='63.524', y='54') intervention.

      p.para We help our clients to build pixel perfect and high-performance tech solutions, that lead to building teams and collaborate further to meet the goals. The aim is to help them disrupt their industries today and lead them into the future. 
      a.scroll-down.text-white(href="javascript:void(0);")
        i.icon-angle-double-down
  section#ourWork.section-services.section-content
    .container
      h2.section-heading Our Work
      .card-wrap.-striped
          .card.card-expertise.card-work
            .card-body
              h2.card-title Quickinsure
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_quickinsure.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text QuickInsure is a specially developed platform for convenience in buying motor vehicle insurance and third party insurance. Buying an insurance for vehicles can sometimes be a time-consuming task for both vehicle owners and the professional who provides insurance policy options available in the market.QuickInsure is a B2C platform which provides that ease and convenience.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title The Pediatric Network
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_tpn.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text This portal helps the doctors to shorten the consultation time as well as automate the process right from registering the patient till the prescription of drugs and referring the patient to other doctors if need be.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title We3Health
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_we3health.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text The journey of We3 health started with the birth of Will to Scott Bolick and Brittany Lothe. Will was born premature in the 24 th week of Brittany’s pregnancy at only 770 grams, and he spent his first five months of life in the ICN (Intensive Care Nursery) also called the NICU (Neonatal Intensive Care Unit). They experienced first-hand the complexities and challenges parents face when they have to see their child fighting for his/her life.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Groupbuzz
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_groupbuzz.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text GroupBuzz is dedicated to creating an optimum end user experience for group owners and members. To achieve this, the owners wanted to build a portal that meets the demands of groups of all shapes and sizes wanting a professional website to manage their members and member payments. They also worked towards making GroupBuzz a platform open for different groups where they can plan various meet ups, activities, exchange ideas and manage payments and accounts hassle free, efficiently and fast.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Fundamentor
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_fundamentor.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text Fundamentor is an innovative web application that enhances the Quantitative, Verbal, Data inference & Creative thinking aptitude in school students It uses methods which students enjoy, ensuring effective aptitude development.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Brandscope
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_brandscope.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text Brandscope Pty. Ltd. is focused on providing a streamline solution and maximizes the selling process for suppliers, retailers and agents in Australian fashion and Action Sports industry. Through this platform a supplier gets immediate access to quality retailers using unique and dynamic online tools to launch their brand with speed and efficiency giving them the competitive edge as well as a retailer gets the desired brands where they can view and buy product for their stores.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Phalcomm
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_phalcom.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text Phalcomm is an E-Commerce Platform which offers online buying of real estate, real time brokerage and generates project specific report. It is used by over 500+ distributor and agents of phalcomm. Software provides real time information of about various bookings in progress across the nation and thus avoid double booking of same property. It also tracks the workflow from booking till allotment of the unit to customer.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title SimplySmart
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/simplysmart.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text Billing and Management portal which handle hardware devices installed  across multiple sites and based on the data it generate the bill and accept the payments.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Freedom from Diabetes
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_ffd.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text The Freedom from Diabetes app provides education, inspiration and support to its registered diabetic patients and an unique and easy way to stay connected with Dr. Pramod Tripathi and the team of doctors, dieticians, and mentors in the Freedom from Diabetes program. Also provides a way to manage patients data like medical history, payments etc.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Deal Signal
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_dealsignal.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text DealSignal provides the most powerful, automated and elegant way to build pipeline on-the-go with a real-time lead feed, leads list, and suggested actions
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top 
          .card.card-expertise.card-work
            .card-body
              h2.card-title Swalekhan
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_swalekhan.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text This product is ahead of the world. It is 100% accessible Android application used to coach visually challenged kids to learn typying
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Yumbox
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_yumbox.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text Yuhmbox is a weekly subscription service that delivers healthy, organic, ready to eat dinners to schools and offices for busy professional to take home with them
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Get a Limo
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_getalimo.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text This product is build to help Limousine drivers to “page out” jobs if they are busy and give a prompt service to regular customers thus creating a win-win situation for drives themselves, customers and other fellow limo drives
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title SkoutDeals
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_skoutdeals.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text The only deal finding app you’ll ever need! Finding that great deal is a rush. Yet, finding those great deals from local merchants is not easy. Until now. It starts with having all nearby deals in a single location. No more time spent having to hunt through multiple apps, websites, emails, flyers, newspapers, or direct mail to find that great deal. Some call us the best deal-finding app, ever!
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top
          .card.card-expertise.card-work
            .card-body
              h2.card-title Inmate Aid
              .portfolio-wrap
                .portfolio-img
                  img.img-fluid(src=asset_url + "images/prj_inmateaid.png", alt="IOT-Logo")
                .portfolio-info 
                  p.card-text Help before, during, and after prison. Save money on phone calls. Send magazines, photos, letters, photos, postcards, greeting cards, money.
                  .link-box
                    a.mb-1(href="technologies.html")
                      i.align-middle.icon-arrow-right
                      | View Technologies
                    a(href="industries.html")
                      i.align-middle.icon-arrow-right
                      | View Domains
              .scroll-top
                a.btn-scroll(href='#servicesTop') go to top                               
        .btn-wrap
            a.btn.btn-gray(href="technologies.html") Technologies
            a.btn.btn-outline-gray(href="industries.html") Industries