extends ./layouts/bootstrap.jade

block append vars
  -var page = "Our Team"
  -var title = page
  //- Leaders Data
  -
    var leaders = [
      {
        profilePic: "core-gautam-rege@2x.jpg",
        name: "Gautam Rege",
        designation: "Co-Founder & Director",
        linkedinId: "gautamrege",
        githubId: "gautamrege"
      },
      {
        profilePic: "core-sethu@2x.jpg",
        name: "Sethupathi Asokan",
        designation: "Co-Founder & Director",
        linkedinId: "sethupathia",
        githubId: "sethu"
      },
      {
        profilePic: "core-vaibhavi@2x.jpg",
        name: "Vaibhavi",
        designation: "Director",
        linkedinId: "",
        githubId: ""
      },
      {
        profilePic: "core-sundari@2x.jpg",
        name: "Sundari",
        designation: "Director",
        linkedinId: "",
        githubId: ""
      },
      {
        profilePic: "core_satish-talim@2x.jpg",
        name: "Satish Talim",
        designation: "Director",
        linkedinId: "satishtalim",
        githubId: "IndianGuru"
      },
      {
        profilePic: "core-sameer@2x.jpg",
        name: "Sameer Tilak",
        designation: "Head of Engineering",
        linkedinId: "sameer-tilak-425a825",
        githubId: "Sameer-Tilak"
      },
      {
        profilePic: "core_sachin@2x.jpg",
        name: "Sachin Shintre",
        designation: "Head of Engineering",
        linkedinId: "shintre",
        githubId: "shintre"
      },
      {
        profilePic: "core_shailesh@2x.jpg",
        name: "Shailesh Patil",
        designation: "Software Architect",
        linkedinId: "shaileshspatil",
        githubId: "spatil"
      },
      {
        profilePic: "core_avadhoot@2x.jpg",
        name: "Avadhoot Bhatye",
        designation: "Head of Operations- Smart Cities",
        linkedinId: "avadhoot-bhatye-78082312",
        githubId: ""
      }
    ];

  mixin leader-card(leader)
    .col-lg-4.col-sm-6
      .card.card-team
        img.img-fluid(src=asset_url + "images/" + leader.profilePic alt=leader.name)
        .card-body
          .person-info
            h5= leader.name
            p.designation= leader.designation
          .professional-platforms
            if leader.linkedinId
              a(href="https://www.linkedin.com/in/" + leader.linkedinId, target="_blank")
                i.icon-linkedin
            if leader.githubId
              a(href="https://github.com/" + leader.githubId, target="_blank")
                i.icon-github

  //- Members Data
  -
    var members = [
      {
        profilePic: "swapnil_chincholkar@2x.jpg",
        name: "Swapnil Chincholkar",
        githubId: "swapnilchincholkar"
      },{
        profilePic: "harish-patankar@2x.jpg",
        name: "Harish Patankar",
        githubId: "harishspatankar"
      },{
        profilePic: "suraj-jagtap@2x.jpg",
        name: "Suraj Jagtap",
        githubId: "SurajSJagtap"
      },{
        profilePic: "ajay-anarse@2x.jpg",
        name: "Ajay Anarse",
        githubId: "ajaysudhakaranarse"
      },{
        profilePic: "shirish@2x.jpg",
        name: "Shirish Bankar",
        githubId: "shirishbankar1"
      },{
        profilePic: "mohit-pawar@2x.jpg",
        name: "Mohit Pawar",
        githubId: "Mohit-Pawar"
      },{
        profilePic: "geetanjali-kokate@2x.jpg",
        name: "Geetanjali Kokate",
        githubId: "Geetakokate"
      },{
        profilePic: "akshaykumar-kakade@2x.jpg",
        name: "AkshayKumar Kakade",
        githubId: "kakadeaa"
      },{
        profilePic: "yogesh-khater@2x.jpg",
        name: "Yogesh Khater",
        githubId: "yogeshjain999"
      },{
        profilePic: "anuja-joshi@2x.jpg",
        name: "Anuja Joshi",
        githubId: "anuja-joshi"
      },{
        profilePic: "pramod-shinde@2x.jpg",
        name: "Pramod Shinde",
        githubId: "pramodshinde"
      },{
        profilePic: "nikhil-pathak@2x.jpg",
        name: "Nikhil Pathak",
        githubId: ""
      },{
        profilePic: "varsha-yadav@2x.jpg",
        name: "Varsha Yadav",
        githubId: "varshayadav"
      },{
        profilePic: "payal-bhalerao@2x.jpg",
        name: "Payal Bhalerao",
        githubId: "Payal13"
      },{
        profilePic: "anusha-bhat@2x.jpg",
        name: "Anusha Bhat",
        githubId: "A9u"
      },{
        profilePic: "sahil-bhatia@2x.jpg",
        name: "Sahil Bhatia",
        githubId: "sahilbhatia"
      },{
        profilePic: "krishnakant-kumar@2x.jpg",
        name: "Krishnakant Kumar",
        githubId: "Krishnakant-android"
      },{
        profilePic: "rahul-jadhav@2x.jpg",
        name: "Rahul Jadhav",
        githubId: "pain11"
      },{
        profilePic: "kiran-chaudhari@2x.jpg",
        name: "Kiran Chaudhari",
        githubId: "kirandc"
      },{
        profilePic: "shweta-kale@2x.jpg",
        name: "Shweta Kale",
        githubId: "Shwetakale"
      },{
        profilePic: "amol-udage@2x.jpg",
        name: "Amol Udage",
        githubId: "amoludage"
      },{
        profilePic: "chandrashekhar-sahu@2x.jpg",
        name: "Chandrashekhar Sahu",
        githubId: "shekhar12020"
      },{
        profilePic: "ganesh-sagare@2x.jpg",
        name: "Ganesh Sagare",
        githubId: "SagareGanesh"
      },{
        profilePic: "jyoti-sharma@2x.jpg",
        name: "Jyoti Sharma",
        githubId: "JyotiSharma1234"
      },{
        profilePic: "swati-jadhav@2x.jpg",
        name: "Swati Jadhav",
        githubId: "SwatiJadhav46"
      },{
        profilePic: "anil-kumar@2x.jpg",
        name: "Anil Kumar",
        githubId: "anilmaurya"
      },{
        profilePic: "pooja-mane@2x.jpg",
        name: "Pooja Mane",
        githubId: "pooja-mane"
      },{
        profilePic: "anuja-ware@2x.jpg",
        name: "Anuja Ware",
        githubId: "anujaware"
      },{
        profilePic: "amit-kumar@2x.jpg",
        name: "Amit Kumar",
        githubId: "amitk"
      },{
        profilePic: "megha-brid@2x.jpg",
        name: "Megha Brid",
        githubId: ""
      },{
        profilePic: "neha-vyas@2x.jpg",
        name: "Neha Vyas",
        githubId: ""
      },{
        profilePic: "seema-jha@2x.jpg",
        name: "Seema Jha",
        githubId: "seemajha"
      },{
        profilePic: "ashvini-vibhute@2x.jpg",
        name: "Ashvini Vibhute",
        githubId: "ashviniv"
      },{
        profilePic: "kiran-deshmukh@2x.jpg",
        name: "Kiran Deshmukh",
        githubId: "kirandeshmukh"
      },{
        profilePic: "tejasvini-gambhire@2x.jpg",
        name: "Tejasvini Gambhire",
        githubId: "tejaswini-gambhire"
      },{
        profilePic: "sai-pradhan-lohar@2x.jpg",
        name: "Sai Pradhan",
        githubId: ""
      },{
        profilePic: "umesh-kanchan@2x.jpg",
        name: "Umesh Kanchan",
        githubId: ""
      },{
        profilePic: "arvind-mahale@2x.jpg",
        name: "Arvind Mahale",
        githubId: ""
      },{
        profilePic: "akshay-birajdar@2x.jpg",
        name: "Akshay Birajdar",
        githubId: ""
      },{
        profilePic: "amit-dhadse@2x.jpg",
        name: "Amit Dhadse",
        githubId: "dhadseamit"
      },{
        profilePic: "anuj-verma.jpg",
        name: "Anuj Verma",
        githubId: "anuj-verma"
      },{
        profilePic: "nikhil-mohadikar@2x.jpg",
        name: "Nikhil Mohadikar",
        githubId: ""
      },{
        profilePic: "ninad-nehete@2x.jpg",
        name: "Ninad Nehete",
        githubId: ""
      },{
        profilePic: "paritosh-botre@2x.jpg",
        name: "Paritosh Botre",
        githubId: "paritoshbotre"
      },{
        profilePic: "pinky-rout@2x.jpg",
        name: "Pinky Rout",
        githubId: ""
      },{
        profilePic: "priyanka-yadav@2x.jpg",
        name: "Priyanka Yadav",
        githubId: ""
      },{
        profilePic: "raj-kamal-lashkari@2x.jpg",
        name: "Raj Kamal Lashkari",
        githubId: "rajlash"
      },{
        profilePic: "sambhaji-karad@2x.jpg",
        name: "Sambhaji Karad",
        githubId: "sambhaji213"
      },{
        profilePic: "tanya-saroha@2x.jpg",
        name: "Tanya Saroha",
        githubId: "tanya-saroha"
      },{
        profilePic: "anurag.jpg",
        name: "Anurag",
        githubId: "apsc92"
      },{
        profilePic: "bhagyashri.jpg",
        name: "Bhagyashri",
        githubId: ""
      },{
        profilePic: "bhuvna.jpg",
        name: "Bhuvna",
        githubId: ""
      },{
        profilePic: "kiran-mhale.jpg",
        name: "Kiran Mhale",
        githubId: ""
      },{
        profilePic: "rahul-ojha.jpg",
        name: "Rahul Ojha",
        githubId: ""
      },{
        profilePic: "rishul.jpg",
        name: "Rishul",
        githubId: ""
      },{
        profilePic: "rohit.jpg",
        name: "Rohit",
        githubId: ""
      },{
        profilePic: "rupali.jpg",
        name: "Rupali",
        githubId: ""
      },{
        profilePic: "shailendra.jpg",
        name: "Shailendra Kanherkar",
        githubId: ""
      },{
        profilePic: "shivam.jpg",
        name: "Shivam",
        githubId: ""
      },{
        profilePic: "suhas-more.jpg",
        name: "Suhas More",
        githubId: ""
      },{
        profilePic: "vaibhav-kale.jpg",
        name: "Vaibhav Kale",
        githubId: ""
      },{
        profilePic: "vikas-khichar.jpg",
        name: "Vikas Khichar",
        githubId: ""
      }
    ];

  mixin member-card(member)
    .col-lg-3.col-md-6.col-6
      .card.card-team
        img.img-fluid(src=asset_url + "images/" + member.profilePic alt=member.name)
        .card-body
          .person-info.-nerds
            h5= member.name
          .professional-platforms
            if member.githubId
              a(href="https://github.com/" + member.githubId, target="_blank")
                i.icon-github

block content
  section.section-team.section-banner
    .heading-overlay
      h1.section-heading Josh Leadership
    a.scroll-down(href="#ourTeam")
      i.icon-angle-double-down
  section#ourTeam.section-content.section-leadership
    .container
      .section-header
        h2.section-heading Josh Leadership
        p Re-engineering existing inefficient architectures with zero down-time and complete data integrity
      .row
        for leader in leaders
          +leader-card(leader)

  section.section-content.section-nerds
    .container
      h1.section-heading Meet Our Nerds
      .row
        for member in members
          +member-card(member)

      .btn-wrap
        a.btn.btn-gray(href="about-us.html") About Us
        a.btn.btn-outline-gray(href="career.html") Career

block append scripts
  script.
    $(document).ready(function () {
      $('html, body').animate({
        scrollTop: $('#ourTeam').offset().top
      }, 'slow');
    });
