extends ./layouts/bootstrap.jade

block append vars
  -var page = "Our Team"
  -var title = page

block content
  section.section-team.section-banner
    .heading-overlay
      h1.section-heading Josh Leadership
    a.scroll-down(href="#ourTeam")
      i.icon-angle-double-down
  section#ourTeam.section-content.section-leadership
    .container
      .section-header
        h2.section-heading Josh Leadership
        p Re-engineering existing inefficient architectures with zero down-time and complete data integrity
      .row
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core-gautam-rege@2x.jpg" alt="Gautam Rege")
            .card-body
              .person-info
                h5 Gautam Rege
                p.designation Co-Founder & Director
              .professional-platforms
                a(href="https://www.linkedin.com/in/gautamrege/", target="_blank")
                  i.icon-linkedin
                a(href="https://github.com/gautamrege", target="_blank")
                  i.icon-github
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core-sethu@2x.jpg" alt="Sethupathi Asokan")
            .card-body
              .person-info
                h5 Sethupathi Asokan
                p.designation Co-Founder & Director
              .professional-platforms
                a(href="https://www.linkedin.com/in/sethupathia/", target="_blank")
                  i.icon-linkedin
                a(href="https://github.com/sethu", target="_blank")
                  i.icon-github
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core-sameer@2x.jpg" alt="Sameer Tilak")
            .card-body
              .person-info
                h5 Sameer Tilak
                p.designation Head of Engineering
              .professional-platforms
                a(href="https://www.linkedin.com/in/sameer-tilak-425a825/", target="_blank")
                  i.icon-linkedin
                a(href="https://github.com/Sameer-Tilak", target="_blank")
                  i.icon-github
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core_sachin@2x.jpg" alt="Sachin Shintre")
            .card-body
              .person-info
                h5 Sachin Shintre
                p.designation Head of Engineering
              .professional-platforms
                a(href="https://www.linkedin.com/in/shintre/", target="_blank")
                  i.icon-linkedin
                a(href="https://github.com/shintre", target="_blank")
                  i.icon-github
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core_satish-talim@2x.jpg" alt="Satish Talim")
            .card-body
              .person-info
                h5 Satish Talim
                p.designation Director
              .professional-platforms
                a(href="https://www.linkedin.com/in/satishtalim/", target="_blank")
                  i.icon-linkedin
                a(href="https://github.com/IndianGuru", target="_blank")
                  i.icon-github
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core-vaibhavi@2x.jpg" alt="Vaibhavi")
            .card-body
              .person-info
                h5 Vaibhavi
                p.designation Director
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core-sundari@2x.jpg" alt="Sundari")
            .card-body
              .person-info
                h5 Sundari
                p.designation Director
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core_avadhoot@2x.jpg" alt="Avadhoot Bhatye")
            .card-body
              .person-info
                h5 Avadhoot Bhatye
                p.designation Head of Operations- Smart Cities
              .professional-platforms
                a(href="https://www.linkedin.com/in/avadhoot-bhatye-78082312", target="_blank")
                  i.icon-linkedin
        .col-lg-4.col-sm-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/core_shailesh@2x.jpg" alt="Shailesh Patil")
            .card-body
              .person-info
                h5 Shailesh Patil
                p.designation Software Architect
              .professional-platforms
                a(href="https://www.linkedin.com/in/shaileshspatil/", target="_blank")
                  i.icon-linkedin
                a(href="https://github.com/spatil", target="_blank")
                  i.icon-github
  section.section-content.section-nerds
    .container
      h1.section-heading Meet Our Nerds
      .row
        .col-lg-3.col-md-6.col-6
          .card.card-team
              img.img-fluid(src=asset_url + "images/swapnil_chincholkar@2x.jpg" alt="Swapnil Chincholkar")
              .card-body
                .person-info.-nerds
                  h5 Swapnil Chincholkar
                .professional-platforms
                  a(href="https://github.com/swapnilchincholkar", target="_blank")
                    i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
              img.img-fluid(src=asset_url + "images/harish-patankar@2x.jpg" alt="Harish Patankar")
              .card-body
                .person-info.-nerds
                  h5 Harish Patankar
                .professional-platforms
                  a(href="https://github.com/harishspatankar", target="_blank")
                    i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/suraj-jagtap@2x.jpg" alt="Suraj Jagtap")
            .card-body
              .person-info.-nerds
                h5 Suraj Jagtap
              .professional-platforms
                a(href="https://github.com/SurajSJagtap", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
              img.img-fluid(src=asset_url + "images/ajay-anarse@2x.jpg" alt="Ajay Anarse")
              .card-body
                .person-info.-nerds
                  h5 Ajay Anarse
                .professional-platforms
                  a(href="https://github.com/ajaysudhakaranarse", target="_blank")
                    i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/shirish@2x.jpg" alt="Shirish Bankar")
            .card-body
              .person-info.-nerds
                h5 Shirish Bankar
              .professional-platforms
                a(href="https://github.com/shirishbankar1", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/mohit-pawar@2x.jpg" alt="Mohit Pawar")
            .card-body
              .person-info.-nerds
                h5 Mohit Pawar
              .professional-platforms
                a(href="https://github.com/Mohit-Pawar", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/viraj-chavan@2x.jpg" alt="Viraj Chavan")
            .card-body
              .person-info.-nerds
                h5 Viraj Chavan
              .professional-platforms
                a(href="https://github.com/virajvchavan", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/geetanjali-kokate@2x.jpg" alt="Geetanjali Kokate")
            .card-body
              .person-info.-nerds
                h5 Geetanjali Kokate
              .professional-platforms
                a(href="https://github.com/Geetakokate", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/akshaykumar-kakade@2x.jpg" alt="AkshayKumar Kakade")
            .card-body
              .person-info.-nerds
                h5 AkshayKumar Kakade
              .professional-platforms
                a(href="https://github.com/kakadeaa", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/yogesh-khater@2x.jpg" alt="Yogesh Khater")
            .card-body
              .person-info.-nerds
                h5 Yogesh Khater
              .professional-platforms
                a(href="https://github.com/yogeshjain999", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/pratik-shah@2x.jpg" alt="Pratik Shah")
            .card-body
              .person-info.-nerds
                h5 Pratik Shah
              .professional-platforms
                a(href="https://github.com/pratik14", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/anuja-joshi@2x.jpg" alt="Anuja Joshi")
            .card-body
              .person-info.-nerds
                h5 Anuja Joshi
              .professional-platforms
                a(href="https://github.com/anuja-joshi", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/pramod-shinde@2x.jpg" alt="Pramod Shinde")
            .card-body
              .person-info.-nerds
                h5 Pramod Shinde
              .professional-platforms
                a(href="https://github.com/pramodshinde", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/nikhil-pathak@2x.jpg" alt="Nikhil Pathak")
            .card-body
              .person-info.-nerds
                h5 Nikhil Pathak
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/varsha-yadav@2x.jpg" alt="Varsha Yadav")
            .card-body
              .person-info.-nerds
                h5 Varsha Yadav
              .professional-platforms
                a(href="https://github.com/varshayadav", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/payal-bhalerao@2x.jpg" alt="Payal Bhalerao")
            .card-body
              .person-info.-nerds
                h5 Payal Bhalerao
              .professional-platforms
                a(href="https://github.com/Payal13", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/anusha-bhat@2x.jpg" alt="Anusha Bhat")
            .card-body
              .person-info.-nerds
                h5 Anusha Bhat
              .professional-platforms
                a(href="https://github.com/A9u", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/sahil-bhatia@2x.jpg" alt="Sahil Bhatia")
            .card-body
              .person-info.-nerds
                h5 Sahil Bhatia
              .professional-platforms
                a(href="https://github.com/sahilbhatia", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/krishnakant-kumar@2x.jpg" alt="Krishnakant Kumar")
            .card-body
              .person-info.-nerds
                h5 Krishnakant Kumar
              .professional-platforms
                a(href="https://github.com/Krishnakant-android", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/rahul-jadhav@2x.jpg" alt="Rahul Jadhav")
            .card-body
              .person-info.-nerds
                h5 Rahul Jadhav
              .professional-platforms
                a(href="https://github.com/pain11", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/kiran-chaudhari@2x.jpg" alt="Kiran Chaudhari")
            .card-body
              .person-info.-nerds
                h5 Kiran Chaudhari
              .professional-platforms
                a(href="https://github.com/kirandc", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/shweta-kale@2x.jpg" alt="Shweta Kale")
            .card-body
              .person-info.-nerds
                h5 Shweta Kale
              .professional-platforms
                a(href="https://github.com/Shwetakale", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/amol-udage@2x.jpg" alt="Amol Udage")
            .card-body
              .person-info.-nerds
                h5 Amol Udage
              .professional-platforms
                a(href="https://github.com/amoludage", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/chandrashekhar-sahu@2x.jpg" alt="Chandrashekhar Sahu")
            .card-body
              .person-info.-nerds
                h5 Chandrashekhar Sahu
              .professional-platforms
                a(href="https://github.com/shekhar12020", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/ganesh-sagare@2x.jpg" alt="Ganesh Sagare")
            .card-body
              .person-info.-nerds
                h5 Ganesh Sagare
              .professional-platforms
                a(href="https://github.com/SagareGanesh", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/jyoti-sharma@2x.jpg" alt="Jyoti Sharma")
            .card-body
              .person-info.-nerds
                h5 Jyoti Sharma
              .professional-platforms
                a(href="https://github.com/JyotiSharma1234", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/swati-jadhav@2x.jpg" alt="Swati Jadhav")
            .card-body
              .person-info.-nerds
                h5 Swati Jadhav
              .professional-platforms
                a(href="https://github.com/SwatiJadhav46", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/anil-kumar@2x.jpg" alt="Anil Kumar")
            .card-body
              .person-info.-nerds
                h5 Anil Kumar
              .professional-platforms
                a(href="https://github.com/anilmaurya", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/pooja-mane@2x.jpg" alt="Pooja Mane")
            .card-body
              .person-info.-nerds
                h5 Pooja Mane
              .professional-platforms
                a(href="https://github.com/pooja-mane", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/anuja-ware@2x.jpg" alt="Anuja Ware")
            .card-body
              .person-info.-nerds
                h5 Anuja Ware
              .professional-platforms
                a(href="https://github.com/anujaware", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/amit-kumar@2x.jpg" alt="Amit Kumar")
            .card-body
              .person-info.-nerds
                h5 Amit Kumar
              .professional-platforms
                a(href="https://github.com/amitk", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/bandana-pandey@2x.jpg" alt="Bandana Pandey")
            .card-body
              .person-info.-nerds
                h5 Bandana Pandey
              .professional-platforms
                a(href="https://github.com/BandanaPandey", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/megha-brid@2x.jpg" alt="Megha Brid")
            .card-body
              .person-info.-nerds
                h5 Megha Brid
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/neha-vyas@2x.jpg" alt="Neha Vyas")
            .card-body
              .person-info.-nerds
                h5 Neha Vyas
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/seema-jha@2x.jpg" alt="Seema Jha")
            .card-body
              .person-info.-nerds
                h5 Seema Jha
              .professional-platforms
                a(href="https://github.com/seemajha", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/ashvini-vibhute@2x.jpg" alt="Ashvini Vibhute")
            .card-body
              .person-info.-nerds
                h5 Ashvini Vibhute
              .professional-platforms
                a(href="https://github.com/ashviniv", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/kiran-deshmukh@2x.jpg" alt="Kiran Deshmukh")
            .card-body
              .person-info.-nerds
                h5 Kiran Deshmukh
              .professional-platforms
                a(href="https://github.com/kirandeshmukh", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/tejasvini-gambhire@2x.jpg" alt="Tejasvini Gambhire")
            .card-body
              .person-info.-nerds
                h5 Tejasvini Gambhire
              .professional-platforms
                a(href="https://github.com/tejaswini-gambhire", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/meenakshi-kumari@2x.jpg" alt="Meenakshi Kumari")
            .card-body
              .person-info.-nerds
                h5 Meenakshi Kumari
              .professional-platforms
                a(href="https://github.com/meenakshikumari", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/sai-pradhan-lohar@2x.jpg" alt="Sai Pradhan")
            .card-body
              .person-info.-nerds
                h5 Sai Pradhan
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/umesh-kanchan@2x.jpg" alt="Umesh Kanchan")
            .card-body
              .person-info.-nerds
                h5 Umesh Kanchan
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/arvind-mahale@2x.jpg" alt="Arvind Mahale")
            .card-body
              .person-info.-nerds
                h5 Arvind Mahale
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/akshay-birajdar@2x.jpg" alt="Akshay Birajdar")
            .card-body
              .person-info.-nerds
                h5 Akshay Birajdar   
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/amit-dhadse@2x.jpg" alt="Amit Dhadse")
            .card-body
              .person-info.-nerds
                h5 Amit Dhadse
              .professional-platforms
                a(href="https://github.com/dhadseamit", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/anuj-verma.jpg" alt="Anuj Verma")
            .card-body
              .person-info.-nerds
                h5 Anuj Verma
              .professional-platforms
                a(href="https://github.com/anuj-verma", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/nikhil-mohadikar@2x.jpg" alt="Nikhil Mohadikar")
            .card-body
              .person-info.-nerds
                h5 Nikhil Mohadikar
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/ninad-nehete@2x.jpg" alt="Ninad Nehete")
            .card-body
              .person-info.-nerds
                h5 Ninad Nehete    
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/paritosh-botre@2x.jpg" alt="Paritosh Botre")
            .card-body
              .person-info.-nerds
                h5 Paritosh Botre
              .professional-platforms
                a(href="https://github.com/paritoshbotre", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/pinky-rout@2x.jpg" alt="Pinky Rout")
            .card-body
              .person-info.-nerds
                h5 Pinky Rout
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/priyanka-yadav@2x.jpg" alt="Priyanka Yadav")
            .card-body
              .person-info.-nerds
                h5 Priyanka Yadav
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/raj-kamal-lashkari@2x.jpg" alt="Raj Kamal Lashkari")
            .card-body
              .person-info.-nerds
                h5 Raj Kamal Lashkari
              .professional-platforms
                a(href="https://github.com/rajlash", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/sambhaji-karad@2x.jpg" alt="Sambhaji Karad")
            .card-body
              .person-info.-nerds
                h5 Sambhaji Karad
              .professional-platforms
                a(href="https://github.com/sambhaji213", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/tanya-saroha@2x.jpg" alt="Tanya Saroha")
            .card-body
              .person-info.-nerds
                h5 Tanya Saroha
              .professional-platforms
                a(href="https://github.com/tanya-saroha", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/anurag.jpg" alt="Anurag")
            .card-body
              .person-info.-nerds
                h5 Anurag
              .professional-platforms
                a(href="https://github.com/apsc92", target="_blank")
                  i.icon-github
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/bhagyashri.jpg" alt="Bhagyashri")
            .card-body
              .person-info.-nerds
                h5 Bhagyashri
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/bhuvna.jpg" alt="Bhuvna")
            .card-body
              .person-info.-nerds
                h5 Bhuvna
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/kiran-mhale.jpg" alt="Kiran Mhale")
            .card-body
              .person-info.-nerds
                h5 Kiran Mhale
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/rahul-ojha.jpg" alt="Rahul Ojha")
            .card-body
              .person-info.-nerds
                h5 Rahul Ojha
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/rishul.jpg" alt="Rishul")
            .card-body
              .person-info.-nerds
                h5 Rishul
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/rohit.jpg" alt="Rohit")
            .card-body
              .person-info.-nerds
                h5 Rohit
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/rupali.jpg" alt="Rupali")
            .card-body
              .person-info.-nerds
                h5 Rupali
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/shailendra.jpg" alt="Shailendra Kanherkar")
            .card-body
              .person-info.-nerds
                h5 Shailendra Kanherkar
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/shivam.jpg" alt="Shivam")
            .card-body
              .person-info.-nerds
                h5 Shivam
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/suhas-more.jpg" alt="Suhas More")
            .card-body
              .person-info.-nerds
                h5 Suhas More
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/vaibhav-kale.jpg" alt="Vaibhav Kale")
            .card-body
              .person-info.-nerds
                h5 Vaibhav Kale
        .col-lg-3.col-md-6.col-6
          .card.card-team
            img.img-fluid(src=asset_url + "images/vikas-khichar.jpg" alt="Vikas Khichar")
            .card-body
              .person-info.-nerds
                h5 Vikas Khichar
      .btn-wrap
        a.btn.btn-gray(href="about-us.html") About Us
        a.btn.btn-outline-gray(href="http://careers.joshsoftware.com/") Career

block append scripts
  script.
    $(document).ready(function () {
      $('html, body').animate({
        scrollTop: $('#ourTeam').offset().top
      }, 'slow');
    });
