= render 'shared/breadcrumbs', data: nil
.contact-map
  #map-canvas{:style => "width: 100%; height: 398px"}
.container
  .row
    /
      .col-lg-5.col-sm-5.address
        %h4 Pune
        %p
          Josh Software
          %br/
          Address: 6, Thube Park, Shivajinagar,
          %br/
          Pune - 411 005,
          %br/
          Maharashtra, India.
        %br/
        %br/
        %br/
        %p
          Phone: +91 - 20 - 25539995
          %br/
          Email: info@joshsoftware.com
    .col-lg-5.col-sm-5.address
      %h4 Pune
      %p
        Josh Software
        %br/
        Address: A13/14 Sunflower Building, 5th Floor,
        %br/
        Survey No. 77/1, Mhalunge Baner Road,
        %br/
        Baner, Pune - 411 045,
        %br/
        Maharashtra, India.
      %br/
      %br/
      %br/
      %p
        /
          Phone: +91 - 20 - 206531316
          %br/
        Email: info@joshsoftware.com
    .col-lg-7.col-sm-7.address
      %h4 Send a Message
      .contact-form
        /
          %form{action: 'https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8', method: 'POST', id: 'contact_form', role: 'form'}
        = form_for @contact, url: contact_us_path, method: :post do |f|
          = f.hidden_field :ip
          = f.hidden_field :location
          .form-group
            %label{:for => "name"} Name
            = f.text_field :name, class: "form-control #{any_errors(@contact, 'name')}", id: 'name', placeholder: 'Enter your name'
          .form-group
            %label{:for => "email"} Email
            = f.text_field :email, class: "form-control #{any_errors(@contact, 'email')}", id: 'email', placeholder: 'Enter your email address'
          .form-group
            %label{:for => "skype_id"} Skype ID
            = f.text_field :skype_id, class: "form-control #{any_errors(@contact, 'skype_id')}", id: 'skype_id', placeholder: 'Enter your Skype ID'
          .form-group
            %label{:for => "phone"} Phone
            = f.text_field :phone, class: "form-control #{any_errors(@contact, 'phone')}", id: 'phone', placeholder: 'Enter your phone number'
          .form-group
            %label{:for => "phone"} Message
            = f.text_area :message, class: "form-control #{any_errors(@contact, 'message')}", rows: '7'
          .form-group
            = recaptcha_tags :display => {:theme => 'white'}
            - if @contact.errors[:recaptcha]
              %span.has-error
                %label.control-label= @contact.errors[:recaptcha].join(' ')
          = f.submit 'Submit', class: 'btn btn-danger btn-lg'
= raw '<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>'
=# javascript_include_tag 'https://lct.salesforce.com/sfga.js'
/
  %script
    __sfga()
:javascript

  function initialize() {
      // use http://www.findlatitudeandlongitude.com/ to find lat long and use map co-ordinates
      var myLatlng = new google.maps.LatLng(18.561257, 73.785942);
      var mapOptions = {
          zoom: 15,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Josh Software Pvt Ltd'
      });
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  $.get('http://api.ipinfodb.com/v3/ip-city/?key=#{ENV['GEO_API_KEY']}&ip=#{request.remote_ip}&format=json', function(response) {
    $('#contact_ip').val(response.ipAddress)
    $('#contact_location').val([response.cityName, response.regionName, response.countryName, response.zipCode].join(', '))
  }, "jsonp");
