= render 'shared/breadcrumbs', data: nil
.container
  .row
    .col-lg-2
      .blog-side-item
        .category
          %ul.list-unstyled
            - @open_sources.each do |open_source|
              %li
                = link_to "#{raw open_source[:id]}", "##{open_source[:id]}"
    .col-lg-10
      - @open_sources.each_with_index do |open_source, indx|
        .blog-item{:id => open_source[:id]}
          .row
            .col-md-12
              .row
                .col-md-8
                  %h1
                    - if open_source[:url]
                      %a{:href => open_source[:url], :target => "_blank"}= raw open_source[:title]
                    - else
                      = open_source[:title]
                .col-md-4.text-right
                  - if open_source[:github]
                    %iframe{:src=> "http://ghbtns.com/github-btn.html?user=#{open_source[:github][:user]}&repo=#{open_source[:github][:repo]}&type=fork&count=true", :allowtransparency => "true", :frameborder => "0", :scrolling => "0", :width => "95px", :height => "20px"}
                    %iframe{:src=> "http://ghbtns.com/github-btn.html?user=#{open_source[:github][:user]}&repo=#{open_source[:github][:repo]}&type=watch&count=true", :allowtransparency => "true", :frameborder => "0", :scrolling => "0", :width => "95px", :height => "20px"}
              %p 
                = raw open_source[:details]
              - if indx > 2
                %a.pull-right{href: '#'}
                  %i.icon-arrow-up{"data-toggle"=>"tooltip", "data-placement"=>"top", "data-original-title"=>"To top"}
