- content_for :title do
  Portfolio | Josh Software Private Limited
.row
  .span3.portfolio-menu
    #sticker
      .well-trans
        .top
        .center
          %ul
            - @projects.each do |project|
              %li
                %a{:href => "##{project[:id]}"} #{project[:title]}
          .top-link
            %a{:href => "##{@projects[0][:id]}"} Top
        .bottom
  .span9
    - @projects.each do |project|
      .well-trans.portfolio-site{:id => project[:id]}
        .top
        .center
          .screenshot.pull-left
            %img{:src => project[:image]}
          .site-info
            %a.site-title{:href => "#{project[:url]}", :target => "_blank"} #{project[:title]}
            %p.site-description
              = project[:description]
            %ul.unstyled.geek-specs
              %li
                %b Stack:
                = project[:technical][:stack]
              %li
                %b Deployment:
                = project[:technical][:deployment]
              - if project[:technical][:comments]
                %li
                  %b Comments:
                  = project[:technical][:comments]
        .bottom
