= render 'shared/breadcrumbs', data: nil
.container
  .row
    .col-lg-2
      .blog-side-item
        .category
          %h3 Latest Projects
          %ul.list-unstyled
            - @projects.each do |project|
              %li
                = link_to project[:title], "##{project[:title]}"

    .col-lg-10
      - @projects.each do |project|
        .blog-item{id: project[:title]}
          .row
            .col-lg-10.col-sm-10
              %h1
                = link_to project[:title], project[:url], target: '_blank'
            .col-lg-7
              .blog-img
                = image_tag "portfolio/#{project[:image]}"
            .col-lg-5
              /
                .col-lg-5
                  .date-wrap
                    %span.date #{project[:country]}
                    %span.month #{project[:year]}
              .blog-side-item
                .tags
                  %ul.list-unstyled.tag
                    - project[:technical][:tags].each do |stack|
                      %li
                        - if stack == 'filter.js'
                          = link_to 'filter.js', 'http://github.com/jiren/filter.js'
                        - else
                          = link_to stack, '#'
          .row
            .col-lg-10.col-sm-10
              %br
              /
                %h1
                  = link_to project[:title], project[:url], target: '_blank'
              %blockquote
                %p= raw project[:description]
      /
        .text-center
          %ul.pagination
            %li
              %a{:href => "#"} «
            %li.active
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} »
