- content_for :title do
  Portfolio | Josh Software Private Limited
.row
  .span3.portfolio-menu
    #sticker
      .well-trans
        .top
          %strong
            Lastest Projects
        .center
          %ul
            - @projects.each do |project|
              %li
                %a{:href => "##{project[:id]}"} #{project[:title]}
          .top-link
            %a{:href => "#header"} Top
        .bottom
  .span9
    - @projects.each do |project|
      .well-trans.portfolio-site{:id => project[:id]}
        .top
        .center
          .screenshot.pull-left
            %a.site-title{:href => "#{project[:url]}", :target => "_blank"}
              %img{:src => project[:image]}
          .site-info
            %a.site-title{:href => "#{project[:url]}", :target => "_blank"} #{project[:title]}
            = " - " 
            %img{:src => "#{project[:flag]}", :class => 'align-up' }
            = "#{project[:country]}, #{project[:year]}"
            %p.site-description
              = raw project[:description]
            %ul.unstyled.geek-specs
              %li
                %b Stack:
                = raw project[:technical][:stack]
              %li
                %b Deployment:
                = raw project[:technical][:deployment]
              - unless project[:technical][:comments].empty?
                %li
                  %b Comments:
                  = raw project[:technical][:comments]
        .bottom
