- content_for :title do
  The JOSH People | Josh Software Private Limited
.row
  .span5.team-thumbnails
    %ul.thumbnails
      - isFirst = true
      - @team_members.each do |member|
        %li
          - classes = isFirst ? "first" : "" 
          - isFirst = false
          %a.thumbnail{:data => {:member => "#{member[:id]}" }, :class => "#{classes}"}
            %img{:src => "#{member[:image]}", :title => "Click to view #{member[:name]}'s detail", :alt => "#{member[:name]}"}
  .span6
    - isFirst = true
    - @team_members.each do |member|
      - classes = isFirst  ? "bio-#{member[:id]} first" : "bio-#{member[:id]} hide" 
      - isFirst = false
      .bio.team-bios{:class => "#{classes}"}
        %h3.name
          #{member[:name]}
        %h4.title
          #{member[:title]}
        .separator
        .bio-text
          %p #{raw member[:description]}
        .separator.pull-right.footer-social-links
          - unless member[:technical].blank?
            %p
              - unless member[:technical][:twitter].blank?
                %a{:target => "_blank", :href => "http://twitter.com/#{member[:technical][:twitter].gsub("@","")}"}
                  %img{:src => 'assets/glyphicons_392_twitter_small.png', :title => "Follow #{member[:technical][:twitter]}"}
              - unless member[:technical][:blog].blank? 
                %a{:target => "_blank", :href => "#{member[:technical][:blog]}"}
                  %img{:src => 'assets/glyphicons_397_rss_small.png', :title => "#{member[:name]}'s blog"}
              - unless member[:technical][:linkedin].blank?
                %a{:target => "_blank", :href => "#{member[:technical][:linkedin]}"}
                  %img{:src => 'assets/glyphicons_377_linked_in_small.png', :title => "#{member[:name]}'s LinkedIn page" }
              - unless member[:technical][:facebook].blank?
                %a{:target => "_blank", :href => "#{member[:technical][:facebook]}"}
                  %img{:src => 'assets/glyphicons_390_facebook_small.png', :title => "#{member[:name]}'s Facebook page" }














