- content_for :title do
  The JOSH People | Josh Software Private Limited
.row
  .span5.team-thumbnails
    %ul.thumbnails
      - @team_members.each do |member|
        %li
          - classes = member[:id] == "gautam-rege" ? "first" : "" 
          %a.thumbnail{:data => {:member => "#{member[:id]}" }, :class => "#{classes}"}
            %img{:src => "#{member[:image]}", :title => "Click to view #{member[:name]}'s detail", :alt => "#{member[:name]}"}
  .span6
    - @team_members.each do |member|
      - classes = member[:id] == "gautam-rege" ? "bio-#{member[:id]} first" : "bio-#{member[:id]} hide" 
      .bio.team-bios{:class => "#{classes}"}
        %h3.name
          #{member[:name]}
        %h4.title
          #{member[:title]}
        .separator
        .bio-text
          %p #{raw member[:description]}
        .separator
          - unless member[:technical].blank?
            %p
              - unless member[:technical][:twitter].blank?
                <a target="_blank" href="http://twitter.com/#{member[:technical][:twitter].gsub("@","")}">#{member[:technical][:twitter]}</a> 
                | 
              - unless member[:technical][:blog].blank? 
                <a target="_blank" href="#{member[:technical][:blog]}">Blog</a> 
                | 
              - unless member[:technical][:linkedin].blank?
                <a target="_blank" href="#{member[:technical][:linkedin]}"> LinkedIn</a> 
                | 
              - unless member[:technical][:facebook].blank?
                <a target="_blank" href="#{member[:technical][:facebook]}">Facebook</a>













