= render partial: 'shared/breadcrumbs', locals: {data: 'Team'}
.container
  .row
    .text-center.feature-head
      %h1 Meet Our Team
      %p We work with forward thinking clients to create beautiful, honest and amazing things that bring positive results.
    - @team_members.each do |member|
      - image = member[:image].blank? ? "assets/team/placeholder.gif" : member[:image]
      .col-lg-4
        .person.text-center
          %img{:alt => "", :src => image}
        .person-info.text-center
          %h4
            %a{:href => "javascript:;"} #{member[:name]}
          %p.text-muted #{member[:title]}
          - if member[:technical].present?
            .team-social-link
              - if member[:technical][:github].present?
                %a{:target => "_blank", :href => "http://github.com/#{member[:technical][:github]}"}
                  %i.icon-github
              - if member[:technical][:facebook].present?
                %a{:target => "_blank", :href => "#{member[:technical][:facebook]}"}
                  %i.icon-facebook
              - if member[:technical][:twitter].present?
                %a{:target => "_blank", :href => "http://twitter.com/#{member[:technical][:twitter].gsub("@","")}"}
                  %i.icon-twitter
              - if member[:technical][:pinterest].present?
                %a{:href => "#"}
                  %i.icon-pinterest
              - if member[:technical][:linkedin].present?
                %a{:target => "_blank", :href => "#{member[:technical][:linkedin]}"}
                  %i.icon-linkedin
              - if member[:technical][:blog].present?
                %a{:target => "_blank", :href => "#{member[:technical][:blog]}"}
                  %i.icon-rss
              - if member[:technical][:google_plus].present?
                %a{:href => "#"}
                  %i.icon-google-plus
            %p #{raw member[:description]} 
