.row
  .span5.team-thumbnails
    %ul.thumbnails
      - @team_members.each do |member|
        %li
          - classes = member[:id] == "gautam-rege" ? "first" : "" 
          %a.thumbnail{:data => {:member => "#{member[:id]}" }, :class => "#{classes}"}
            %img{:src => "#{member[:image]}"}
  .span6
    - @team_members.each do |member|
      - classes = member[:id] == "gautam-rege" ? "bio-#{member[:id]} first" : "bio-#{member[:id]} hide" 
      .bio.team-bios{:class => "#{classes}"}
        %h3.name
          #{member[:name]}
        %h4.title
          #{member[:title]}
        .separator
        .bio-text
          %p #{member[:description]}













