= render 'shared/breadcrumbs', data: nil
.container
  .row
    .col-lg-12
      - @testimonies.each do |testimony|
        .blog-item
          .row
            .col-lg-2.col-sm-2.text-right
              .author
                #{testimony[:endorser]}
              %ul.list-unstyled
                %li
                  %a{:href => "#"}
                    %em #{testimony[:title]}
                %li
                  %a{:href => "#"}
                    %em #{testimony[:company]}
            .col-lg-10.col-sm-10
              %blockquote
                %p #{raw testimony[:endorsement]} 
